<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xml:lang="fr" lang="fr">

<h:head>

</h:head>

<h:body>
    <ui:composition>
        <div class="py-5 bg-dark" id="register"
             style="background-image: url('#{request.contextPath}/img/bg11.jpg'); background-size: cover; background-position: center top;">
            <div class="container">
                <div class="row my-4">
                    <div class="mx-auto col-md-6 col-10 col-xl-4 px-4">
                        <div class="card bg-primary">
                            <div class="card-body text-center">
                                <div class="row mt-5">
                                    <div class="col-md-12">
                                        <h5 class="mb-4">
                                            <b>SIGN UP</b>
                                        </h5>
                                        <button class="btn btn-icon rounded btn-light mx-1 btn-facebook shadow"
                                                type="button">
                                            <i class="fa fa-fw fa-lg fa-facebook-square"></i>
                                        </button>
                                        <button class="btn btn-icon rounded btn-lg btn-light mx-1 btn-twitter shadow"
                                                type="button">
                                            <i class="fa fa-fw fa-2x fa-twitter"></i>
                                        </button>
                                        <button class="btn btn-icon rounded btn-light mx-1 btn-google shadow"
                                                type="button">
                                            <i class="fa fa-fw fa-google-plus fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row mt-4 pt-2">
                                    <div class="col">


                                        <h:form>

                                            <div class="form-group mb-2">
                                                <div class="input-group border-0">
                                                    <div class="input-group-prepend">
                                                      <span class="input-group-text" id="basic-addon1">
                                                        <i class="now-ui-icons users_circle-08 lg"></i>
                                                      </span>
                                                    </div>
                                                    <h:inputText value="#{userMngtBean.firstname}" required="true"
                                                                 styleClass="form-control"
                                                                 a:placeholder="First Name..."/>

                                                </div>
                                            </div>

                                            <div class="form-group mb-2">
                                                <div class="input-group border-0">
                                                    <div class="input-group-prepend ">
                                                      <span class="input-group-text">
                                                        <i class="now-ui-icons text_caps-small lg"></i>
                                                      </span>
                                                    </div>
                                                    <h:inputText styleClass="form-control" required="true"
                                                                 value="#{userMngtBean.lastname}"
                                                                 a:placeholder="Last Name..."/>
                                                </div>
                                            </div>

                                            <div class="form-group mb-2">
                                                <div class="input-group border-0">
                                                    <div class="input-group-prepend ">
                                                      <span class="input-group-text">
                                                        <i class="now-ui-icons text_caps-small lg"></i>
                                                      </span>
                                                    </div>
                                                    <h:inputText styleClass="form-control" id="pseudo" required="true"
                                                                 value="#{userMngtBean.pseudo}"
                                                                 validator="#{userMngtBean.validatePseudo}"
                                                                 a:placeholder="Pseudo..."/>
                                                    <small class="form-text text-muted text-right">
                                                        <a href="#"><h:message for="pseudo"
                                                                               styleClass="text-white"/></a>
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="form-group mb-2">
                                                <div class="input-group border-0">
                                                    <div class="input-group-prepend ">
                                                      <span class="input-group-text">
                                                        <i class="now-ui-icons ui-1_lock-circle-open lg"></i>
                                                      </span>
                                                    </div>
                                                    <h:inputSecret styleClass="form-control" required="true"
                                                                   value="#{userMngtBean.password}"
                                                                   a:placeholder="Password..."/>
                                                </div>
                                            </div>

                                            <h:commandButton
                                                    styleClass="btn mt-4 mb-3 btn-light rounded btn-lg text-primary"
                                                    value="S'inscrire" actionListener="#{userMngtBean.createUser()}"
                                                    action="/accueil"/>
                                        </h:form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <a class="btn rounded btn-lg btn-outline-secondary" href="#">View Login Page</a>
                    </div>
                </div>
            </div>
        </div>
    </ui:composition>
</h:body>
</html>