<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xml:lang="fr" lang="fr">

<h:head>

</h:head>

<h:body>
    <ui:composition>
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                    data-target="#navbar18">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar18"><a class="navbar-brand d-none d-md-block" href="#">
                <i class="fa d-inline fa-lg fa-circle"></i>
                <b>TPMA</b>
            </a>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="#{request.contextPath}/accueil.xhtml">Accueil</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#{request.contextPath}/home.xhtml">Backlog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                </ul>
                <ul class="navbar-nav">
                    <c:if test="#{not userMngtBean.isAuth()}">
                        <li class="nav-item"><a class="nav-link" href="#login">Log in</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#register">Register</a></li>
                    </c:if>
                    <c:if test="#{userMngtBean.isAuth()}">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#{request.contextPath}/home.xhtml">#{userMngtBean.user.firstname} #{userMngtBean.user.lastname}</a>
                        </li>
                        <li class="nav-item">
                            <h:form>
                                <h:commandButton action="/accueil" styleClass="btn btn-light text-primary"
                                                 value="Se déconnecter"
                                                 actionListener="#{userMngtBean.logout()}"/>
                            </h:form>
                        </li>
                    </c:if>
                </ul>
            </div>
        </div>
    </ui:composition>
</h:body>
</html>