<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xml:lang="fr" lang="fr">

<h:head>

</h:head>

<h:body>
    <ui:composition>
        <div class="py-5 text-center parallax cover gradient-overlay h-25" id="login"
             style=" background-image: url('#{request.contextPath}/img/cover.jpg');
                position: relative; background-position: center center; background-size: cover; background-repeat: repeat;
                ">
            <div class="container d-flex flex-column">
                <div class="row my-auto">
                    <div class="mx-auto col-md-6 col-10 bg-white p-5">
                        <h1 class="mb-4">Connexion</h1>
                        <h:form>
                            <h:messages styleClass="text-danger" showDetail="true"/>
                            <div class="form-group mb-3">
                                <h:inputText value="#{userMngtBean.pseudo}" styleClass="form-control"
                                             a:placeholder="Votre pseudo..."/>
                                <small class="form-text text-muted text-right">
                                    <a href="#">Entrez votre pseudo</a>
                                </small>
                            </div>

                            <div class="form-group mb-3">
                                <h:inputSecret value="#{userMngtBean.password}" styleClass="form-control"
                                               a:placeholder="Votre mot de passe..."/>
                                <small class="form-text text-muted text-right">
                                    <a href="#">Entrez votre mot de passe</a>
                                </small>
                            </div>

                            <h:commandButton styleClass="btn btn-primary" value="Se connecter"
                                             action="#{userMngtBean.validateUsernamePassword()}"/>
                        </h:form>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-12">
                        <h6 class="text-muted mb-5">
                            <b class="text-white">Créer votre backlog. TP2 - Java J2EE. Avec Stephane Talbot, USMB</b>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </ui:composition>
</h:body>
</html>