<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="#{request.contextPath}/css/nucleo-icons.css" type="text/css"/>
    <meta name="description" content="Séléctionner votre client pour accéder à ces ressources"/>
    <meta name="keywords"
          content="bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, now ui, now ui kit, creative tim, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit, sirambd, tpma, backlog"/>
</h:head>
<body>

<nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top">
    <ui:insert name="nav">
        <ui:include src="/template/common/commonNav.xhtml"/>
    </ui:insert>
</nav>

<div id="header">
    <ui:insert name="header">
        <ui:include src="/template/common/commonHeader.xhtml"/>
    </ui:insert>
</div>

<div id="content">
    <ui:insert name="content">
        <ui:include src="/template/common/commonContent.xhtml"/>
    </ui:insert>
</div>

<div id="authors">
    <ui:insert name="authors">
        <ui:include src="/template/common/commonAuthors.xhtml"/>
    </ui:insert>
</div>

<div id="footer">
    <ui:insert name="footer">
        <ui:include src="/template/common/commonFooter.xhtml"/>
    </ui:insert>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
        style="" type="text/javascript" defer="defer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"
        style="" type="text/javascript" defer="defer"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
        style="" type="text/javascript" defer="defer"></script>
<script src="#{request.contextPath}/js/navbar-ontop.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript">
    var column = 0;

    function getColumn() {
        return column;
    }

    function setColumn(id) {
        column = id;
    }
</script>
</body>
</html>