<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xml:lang="fr" lang="fr">

<h:head>

</h:head>

<h:body>
    <ui:composition>
        <div class="py-5 text-center text-white" id="teams"
             style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)),
                 url('/img/usmb.jpg');
                 background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;">
            <div class="container">
                <div class="row">
                    <div class="mx-auto col-md-12">
                        <h1 class="mb-3">Notre équipe</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 p-4">
                        <h:graphicImage value="/img/man-boss.png" width="200"
                                        styleClass="img-fluid d-block mb-3 mx-auto rounded-circle"
                                        alt="Card image cap"/>
                        <h4><b>B. Abdourahamane</b></h4>
                        <p class="mb-0">DEV. FULLSTACK &amp; DESIGNER</p>
                    </div>
                    <div class="col-lg-6 col-md-6 p-4">
                        <h:graphicImage value="/img/man-boss.png" width="200"
                                        styleClass="img-fluid d-block mb-3 mx-auto rounded-circle"/>
                        <h4><b>B. Aly-Nayef</b></h4>
                        <p class="mb-0">DEV. FULLSTACK</p>
                    </div>
                </div>
            </div>
        </div>
    </ui:composition>
</h:body>
</html>