<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xml:lang="fr" lang="fr">

<h:head>

</h:head>

<body>
<ui:composition>

    <div class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-6 p-3"><i class="d-block fa fa-circle-o fa-5x text-primary"></i></div>
                <div class="col-lg-4 col-6 p-3">
                    <p><a href="https://www.univ-smb.fr/" target="_blank">Université Savoie Mont Blanc&nbsp;<br/>74000
                        Bourget du lac<br/>FRANCE</a></p>
                    <p><a href="tel:+33 04 79 75 85 85">univ-smb.fr</a></p>
                    <p class="mb-0"><a href="mailto:b.abdourahamane@outlook.fr">b.abdourahamane@outlook.fr</a></p>
                </div>
                <div class="col-md-4 p-3">
                    <h5><b>A propos</b></h5>
                    <p class="mb-0"> Ceci est un tp réalisé en cours lors d'un travaux pratique.&nbsp;<br/>Le but ici est de
                        réaliser un gestion de colis, en utilisant la technologie J2EE. On a ici 3 roles, le client 1 qui
                        crée les colis, le client 2 qui change l'état et les coordonnées du colis, et enfin un client 3 qui
                        peut juste consulter les colis.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mb-0 mt-2">© 2019-2020 B.Abdourahamane B.Aly-Nayef. Tout droit réservé</p>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
</body>
</html>