<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core" xml:lang="en" lang="en">
<h:head>
</h:head>

<h:body>
    <ui:composition template="template/common/commonLayout.xhtml">
        <ui:define name="header">
            <div class="py-5 bg-light">

                <ul class="list-inline py-5 d-inline-flex" style="white-space: nowrap;">
                    <ui:repeat value="#{backlogMngtBean.backlog.backlogColumns}" var="column">
                        <li class="list-inline-item bg-gray p-2 text-center"
                            style="width: 272px; border-radius: 3px; height: fit-content;">
                            <h3>#{column.name}</h3>

                            <ui:repeat value="#{column.entries}" var="entry">
                                <div class="card bg-light mb-3 w-100" style="white-space: normal;">
                                    <div class="card-body">
                                        <h5 class="card-title">#{entry.name}</h5>
                                        <p class="card-text">#{entry.description}</p>
                                    </div>
                                    <div class="card-footer">Estimation : #{entry.estimation}</div>
                                </div>
                            </ui:repeat>
                            <h:form id="entry_form#{column.id}">
                                <h:commandButton id="centry_button#{column.id}"
                                                 styleClass="btn btn-light w-100" type="button"
                                                 value="Ajouter une carte" immediate="true" action="createEntry">
                                    <f:actionListener type="sn.fr.sirambd.aly.beans.CreateEntryActionListener"/>
                                    <f:param name="backlog_id" value="#{backlogMngtBean.backlog.id}"/>
                                    <f:param name="column_id" value="#{column.id}"/>
                                </h:commandButton>
                            </h:form>
                        </li>
                    </ui:repeat>
                    <li class="list-inline-item" style="width: 272px">
                        <button class="btn btn-gray w-100" data-toggle="modal"
                                data-target="#modal_create_column">Ajouter une liste
                        </button>
                    </li>
                </ul>

                <h:messages styleClass="text-danger" showDetail="true"/>
            </div>

            <div class="modal fade" id="modal_create_column">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header pb-0">
                            <h4 class="modal-title text-dark mx-auto">
                                <b>Nouvelle colonne</b>
                            </h4>
                            <button type="button" class="close text-danger pt-4 ml-0" data-dismiss="modal">
                            <span>
                              <i class="now-ui-icons ui-1_simple-remove lg"/>
                            </span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h:form>
                                <div class="form-group">
                                    <label for="name">Nom</label>
                                    <h:inputText required="true" id="name" a:placeholder="Nom..."
                                                 value="#{columnMngtBean.name}" styleClass="form-control"/>
                                </div>

                                <div class="justify-content-center mt-3">
                                    <h:commandButton value="Créer" styleClass="btn btn-secondary"
                                                     actionListener="#{columnMngtBean.createColumn}">
                                        <f:param name="backlog_id" value="#{backlogMngtBean.backlog.id}"/>
                                    </h:commandButton>
                                </div>
                            </h:form>
                        </div>
                        <div class="modal-footer d-flex flex-row justify-content-end">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>

        <ui:define name="content">
        </ui:define>

        <ui:define name="authors">
        </ui:define>

        <ui:define name="footer">
        </ui:define>
    </ui:composition>
</h:body>
</html>