<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
    <title>Créer une carte</title>
</h:head>
<body>
<ui:composition template="template/common/commonLayout.xhtml">
    <ui:define name="nav">
    </ui:define>
    <ui:define name="header">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="form-group">
                <label for="name">Nom</label>
                <h:inputText required="true" id="name" a:placeholder="Nom..."
                             value="#{entryMngtBean.name}" styleClass="form-control"/>
            </div>

            <div class="form-group">
                <label for="estimation">Estimation</label>
                <h:inputText required="true" id="estimation" a:placeholder="Estimation..."
                             value="#{entryMngtBean.estimation}" styleClass="form-control"/>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <h:inputTextarea required="true" id="description" a:placeholder="Description..." rows="3"
                                 value="#{entryMngtBean.description}" styleClass="form-control"/>
            </div>

            <div class="justify-content-center mt-3">
                <h:commandButton value="Créer" styleClass="btn btn-secondary" action="backlog"
                                 actionListener="#{columnMngtBean.createColumn()}">
                    <f:param name="backlog_id" value="#{backlogMngtBean.backlog.id}"/>
                </h:commandButton>
            </div>
        </h:form>
    </ui:define>

    <ui:define name="authors">
    </ui:define>
    <ui:define name="footer">
    </ui:define>
</ui:composition>
</body>
</html>