<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xml:lang="en" lang="en">
<h:head>
</h:head>
<body>
<ui:composition template="template/common/commonLayout.xhtml">

    <ui:define name="header">
        <div class="py-5 text-center"
             style="background-image: url('#{request.contextPath}/img/bg11.jpg');	background-size: cover;	background-position: top left;	background-repeat: repeat;">
            <div class="container">
                <div class="row">
                    <div class="bg-white p-5 mx-auto col-md-8 col-10">
                        <h3 class="display-3">Créer votre backlog</h3>
                        <p class="mb-3 lead">TPMA by B.Abdourahamane &amp; B.Aly-Nayef</p>
                        <p class="mb-4">Créer et partager votre backlog en ligne avec tous vos collègues. Cette application a été faite pour ça.</p>
                        <a class="btn btn-outline-primary" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="content">
        <div class="py-4">
            <div class="container">
                <ul class="nav nav-pills nav-pills-primary nav-pills-icons">
                    <li class="nav-item scale">
                        <a class="nav-link active bg-dark text-white" href="#"
                           data-toggle="modal" data-target="#modal_create_backlog">
                            <i class="fa fa-plus fa-3x"/>
                            Créer backlog
                        </a>
                    </li>

                    <ui:repeat value="#{backlogMngtBean.getAll()}" var="backlog">
                        <li class="nav-item scale">
                            <h:form>
                                <h:commandButton styleClass="nav-link active" value="#{backlog.name}" immediate="true"
                                                 actionListener="#{backlogMngtBean.showBacklog()}" action="backlog">
                                    <f:param name="backlog_id" value="#{backlog.id}"/>
                                </h:commandButton>
                            </h:form>
                        </li>
                    </ui:repeat>
                </ul>
            </div>
        </div>

        <div class="modal fade" id="modal_create_backlog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header pb-0">
                        <h4 class="modal-title text-dark mx-auto">
                            <b>Nouveau backlog</b>
                        </h4>
                        <button type="button" class="close text-danger pt-4 ml-0" data-dismiss="modal">
                            <span>
                              <i class="now-ui-icons ui-1_simple-remove lg"/>
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h:form id="form_create_backlog">
                            <div class="form-group">
                                <label for="name">Nom</label>
                                <h:inputText required="true" id="name" a:placeholder="Nom..."
                                             value="#{backlogMngtBean.name}" styleClass="form-control"/>
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <h:inputTextarea styleClass="form-control" id="description"
                                                 a:placeholder="Description" rows="3"
                                                 value="#{backlogMngtBean.description}" required="true"/>
                            </div>

                            <div class="justify-content-center mt-3">
                                <h:commandButton value="Créer" styleClass="btn btn-secondary"
                                                 actionListener="#{backlogMngtBean.createBacklog()}"/>
                            </div>
                        </h:form>
                    </div>
                    <div class="modal-footer d-flex flex-row justify-content-end">
                        <!--                        <button type="button" class="btn btn-secondary">Nice Button</button>-->
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>